
body {
    margin: 0;
}
.photo{
    display: grid;
    margin: 50px auto;
    grid-template-columns: repeat(3, 1fr);
    gap: 8px;
    padding-top: 20px;
}

.photo-item img{
    width: 100%;
    height: auto
}

a{
    font-family: 'Klee One', cursive;
    font-size: 20px;
    text-decoration: none;
    color: rgb(73, 60, 50);
    position: absolute;
    background-color: antiquewhite;
}
a:hover{
    color: tan
}
